useDynLib(SpTe2M,.registration = TRUE)
import(glmnet, MASS)
importFrom("stats", "coef", "lm", "median")
export(CV_MSPE, Mod_CV, SpTe_CovEst, SpTe_DeCor, SpTe_MeanEst, SpTe_SemiParmReg, SpTeMnt_CUSUM, SpTeMnt_EWMAC, SpTeMnt_EWSL)